/*  About me section */

.image-info {
  height: 55vh;
  background-color: #f5f8fa;
}

.center {
  width: 70%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 0.8fr 1fr;
  justify-items: center;
  align-items: center;
}

.image {
  background-image: url(../images/IMG_0186.PNG);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 10px solid white;
  background-color: #fff;
  align-self: flex-end;
}

.name1 {
  width: 80%;
  height: 100px;
  text-align: center;
}

.name1 p {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  color: #3a4145;
}

.designation {
  align-self: flex-start;
  text-align: center;
}

.designation p {
  font-size: 22px;
  padding-top: 10px;
  color: #0096cc;
}

@media screen and (min-width: 768px) {
  .image-info {
    height: 35vh;
  }

  .center {
    grid-template-rows: 1fr 0.5fr 0.5fr;
  }
  .name1 {
    height: 80%;
    align-self: center;
  }
}

/* about-me-content */

.about-me {
  height: 90vh;
}
.center1 {
  width: 80%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.heading {
  width: 80%;
}

.heading > h3 {
  font-size: 22px;
  padding-bottom: 10px;
  color: #2e2e2e;
  font-weight: bolder;
}

.heading > p {
  font-size: 16px;
  line-height: 22px;
  font-weight: lighter;
}

.contact {
  width: 80%;
}

@media screen and (max-width: 320px) {
  .contact {
    width: 90%;
  }
}

.contact > h3 {
  font-size: 22px;
  padding-bottom: 10px;
  color: #2e2e2e;
  font-weight: bolder;
}

.logos {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em 1em;
}

.logos a {
  text-decoration: none;
  color: #2e2e2e;
}

.logos a i {
  font-size: 20px;
}

i span {
  font-size: 18px;
  font-weight: 100;
  padding-left: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
  .about-me {
    height: 50vh;
  }

  .center1 {
    width: 70%;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 1em;
  }

  .heading {
    width: 90%;
  }

  .heading > h3 {
    font-size: 26px;
  }

  .heading > p {
    font-size: 18px;
    line-height: 28px;
  }

  .contact {
    width: 90%;
  }

  .contact > h3 {
    font-size: 26px;
  }

  .logos {
    width: 90%;
    grid-template-columns: 1fr;
    grid-gap: 1em 1em;
  }

  .logos a i {
    font-size: 23px;
  }

  i span {
    font-size: 20px;
    padding-left: 15px;
  }
}

@media screen and (min-width: 1025px) {
  .about-me {
    height: 50vh;
  }

  .center1 {
    width: 50%;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 1em;
  }

  .heading {
    width: 90%;
  }

  .heading > h3 {
    font-size: 28px;
  }

  .heading > p {
    font-size: 20px;
    line-height: 28px;
  }

  .contact {
    width: 90%;
  }

  .contact > h3 {
    font-size: 28px;
    padding-bottom: 30px;
  }

  .logos {
    width: 90%;
    grid-template-columns: 1fr;
    grid-gap: 1em 1em;
  }

  .logos a i {
    font-size: 27px;
  }

  i span {
    font-size: 25px;
    padding-left: 15px;
  }
}

/* projects */
.center-1 {
  width: 70%;
  height: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  grid-gap: 22px;
}

h1 {
  font-size: 22px;
  font-weight: bolder;
  color: #0096cc;
  text-decoration: #2e2e2e underline;
}

.project-container {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-1 {
  width: 170px;
  height: 170px;
}

#img1 {
  background-image: url(../images/Flappy_Bird_icon.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#img2 {
  background-image: url(../images/heart.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#img3 {
  background-image: url(../images/2048-Header-2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#img4 {
  background-image: url(../images/tinder.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#img5 {
  background-image: url(../images/covid.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.image-1:hover {
  position: relative;
  top: -20px;
  transition: 0.3s ease-in-out;
  border: 2px solid black;
}

.name-1 {
  width: 80%;
  margin: auto;
  text-align: center;
}

.name-1 p {
  padding-top: 10px;
  font-size: 16px;
  font-weight: bolder;
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
  .center-1 {
    width: 60%;
    height: 1500px;
  }

  h1 {
    font-size: 30px;
  }

  .project-container {
    width: 60%;
  }

  .image-1 {
    width: 210px;
    height: 210px;
  }

  .name-1 p {
    font-size: 22px;
  }
}

@media screen and (min-width: 1025px) {
  .center-1 {
    width: 50%;
    height: 2000px;
  }

  h1 {
    font-size: 32px;
  }

  .project-container {
    width: 60%;
  }

  .image-1 {
    width: 250px;
    height: 250px;
  }

  .name-1 p {
    font-size: 25px;
  }
}

/*  */
